# Roots for synchronization 

{{- if ne .chezmoi.os "darwin" }}
root = /home/{{ .chezmoi.username }}
{{- else }}
root = /Users/{{ .chezmoi.username }}
{{- end}}
root = ssh://bjk@10.0.1.120//home/bjk

# paths to synchronize 

path = projects
#path = go/src
#path = Documents
# Ignore some names and paths 

ignore = Name tmp* 
ignore = Name temp* 
ignore = Name node_modules
ignore = Name target

# keep log 
log = true 
confirmbigdel = true
fastcheck = true 
prefer = newer 
times = true 
# skip asking for confirmations for non-conflicting changes 
auto = true 
# batch mode, fewer prompts
batch = true
# sshhh
#silent = true
